<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Items: </h1>
    <ol>
        <% items.forEach(item => { %>
            <% if (item.name && item.name !== 'undefined') { %>
                <li>
                    <%= item.name %>
                    <a href="/<%= category %>/<%= item.name %>/update-item">Update</a>
                    <form action="/<%= category %>/<%= item.name %>/delete-item" method="POST">
                        <button type="submit">Delete</button>                
                    </form>
                </li>
            <% } %>
       <% }); %>
    </ol>
    <a href="/<%= category %>/add-item">Add items</a>
    <a href="/">Go back</a>
</body>
</html>